# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=1ixvdz59
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Traduction auto (optionnel — sinon MyMemory gratuit)
# DEEPL_AUTH_KEY=your_deepl_key

# Mux — player custom (optionnel)
# NEXT_PUBLIC_MUX_ENV_KEY=your_mux_env_key
